@model IEnumerable<SharedLayer.Models.CommunityServiceDTO>

@{
    ViewBag.Title = "قائمة تنفيذ الخدمة المجتمعية";
}
<head>
    <link href="~/Content/CSSFiles/HomeStyle.css" rel="stylesheet" />
    <link href="~/Content/CSSFiles/StatusStyle.css" rel="stylesheet" />
    <style>

        @@media print {
            @@page {
                size: A3 landscape;
                font-size: 8px;
            }
        }

        table thead tr {
            border: none;
        }
    </style>

</head>

<div class="container-fluid mt-3">
    <div class="p-3 bg-white shadow-sm">
        <div class="d-flex align-items-center" style="gap: 10px;">
            <img src="~/Content/images/read.png" width="34" style="margin-top: -4px;" />
            <h3 class="mb-0" style="color: #7b7268;">قائمة تنفيذ الخدمة المجتمعية</h3>
        </div>
        <br />
        <table id="TableId" class="display border-0 nowrap" style="width:100%;font-size:smaller ">
            <thead style="text-align:right;">
                <tr style="background-color: #e0dad1; color: #221f1c; ">
                    <th> @Html.DisplayNameFor(model => model.ReportID)</th>
                    <th> @Html.DisplayNameFor(model => model.FileNo)</th>
                    <th> @Html.DisplayNameFor(model => model.CaseNo)</th>
                    <th> @Html.DisplayNameFor(model => model.Blame)</th>
                    <th> @Html.DisplayNameFor(model => model.StartDate)</th>
                    <th> @Html.DisplayNameFor(model => model.EndDate)</th>
                    <th> @Html.DisplayNameFor(model => model.CreatedDate)</th>
                    <th> @Html.DisplayNameFor(model => model.CreatedBy)</th>
                    <th>التفاصيل</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts {
    <!-- DataTables CSS -->
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <!-- DataTables JS -->
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>

    <!-- Buttons JS for export functionality -->
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.flash.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/pdfmake/pdfmake.min.js"></script>
    <script src="~/Scripts/pdfmake/vfs_fonts.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.print.min.js"></script>
    <script src="~/Scripts/mainScripts/InfoSourceDT.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        var oTable;
        $.ajax({
            url: "@Url.Action("GetListOfCommunityServiceJson", "CommunityService")",
            type: "GET",
            dataType: "json",
            success: function(data) {
                oTable = $('#TableId').DataTable({
                    data: data,
                    responsive: true,
                    columns: [
                        { data: "ReportID", width: 70 },
                        { data: "FileNo", width: 200 },
                        { data: "CaseNo", width: 200 },
                        { data: "Blame", width: 200 },

                        {
                            data: "StartDate", width: 70,
                            render: function (data, type, row) {
                                if (type === 'display' || type === 'filter') {
                                    var match = data.match(/\/Date\((\d+)\)\//);
                                    if (match) {
                                        var date = new Date(parseInt(match[1], 10));
                                        var formattedDate = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
                                        return formattedDate;
                                    } else {
                                        return "Invalid date";
                                    }
                                }
                                return data;
                            }
                        },
                        {
                            data: "EndDate", width: 70,
                            render: function (data, type, row) {
                                if (type === 'display' || type === 'filter') {
                                    var match = data.match(/\/Date\((\d+)\)\//);
                                    if (match) {
                                        var date = new Date(parseInt(match[1], 10));
                                        var formattedDate = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
                                        return formattedDate;
                                    } else {
                                        return "Invalid date";
                                    }
                                }
                                return data;
                            }
                        },
                        {
                            data: "CreatedDate", width: 70,
                            render: function (data, type, row) {
                                if (type === 'display' || type === 'filter') {
                                    var match = data.match(/\/Date\((\d+)\)\//);
                                    if (match) {
                                        var date = new Date(parseInt(match[1], 10));
                                        var formattedDate = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
                                        return formattedDate;
                                    } else {
                                        return "Invalid date";
                                    }
                                }
                                return data;
                            }
                        },
                        { data: "CreatedBy", width: 200 },
                        {
                            data: null, width: 40,
                            render: function (data, type, row) {
                                var links = "";

                                links += "<a href='/CommunityService/CommunityServiceDetails/" + row.ReportID + "' target='_blank' data-toggle='tooltip' data-placement='left' title='التفاصيل' style='text-decoration:none'><img src='/Content/images/View.png' width='24' /> </a>";

                                return links;
                            }
                        }
                    ],
                    order: [[0, 'desc']],
                    language: {
                        search: "",
                        searchPlaceholder: " الاستعــلام",
                        sLengthMenu: "_MENU_ ",
                        info: "عرض _START_ إلى _END_ من اجمالي _TOTAL_ ",
                        infoFiltered: "(تصفية _MAX_ من الاجمالي)",
                        paginate: {
                            next: 'التالي',
                            previous: 'السابق'
                        }
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'copy',
                            text: '<i class="fa fa-copy"></i> نسخ',
                            className: 'btn btn-sm buttons-copy'
                      },
                        {
                            extend: 'excel',
                            text: '<i class="fa fa fa-file-excel-o"></i> اكسل',
                            className: 'btn btn-sm buttons-excel'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i> طباعة',
                            className: 'btn btn-sm buttons-print '
                        }
                    ],

                    initComplete: function () {
                        $('.dataTables_filter input').addClass('form-control');
                    }
                });

                $('input', oTable.table().header()).on('keyup', function () {
                    var colIdx = $(this).closest('th').index();
                    oTable.column(colIdx).search(this.value).draw();
                });
            },
            error: function(xhr, status, error) {
                console.error("An error occurred:", status, error);
            }
        });
    });
    </script>

}

